*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: rgb(83, 79, 79);
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form{
    width: 30vw;
    height:70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    text-align: center;
    background-color: rgba(142, 236, 11, 0.245);
    /* background-image: url('https://plus.unsplash.com/premium_photo-1664116928414-2ab998603666?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    border: 1px solid rgba(0, 0, 0, 0.445) ;
}
.heading{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.user,.pass{
    font-size: 20px;
    font-weight: 500;
    /* display: inline; */
}
.userinput,.passinput{
    height: 40px;
    width: 20vw;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
.submit{
    height: 45px;
    width:50%;
    border-radius: 10px;
    border: none;
    margin: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    background-color: #0000002a;
}
.submit:hover{
    color: #000;
    background-color: #fff;
}
p{
    color: #fff;
    /* float: right; */
    /* text-align: left; */
    /* margin: 10px; */
}
span:hover{
    color: rgb(13, 35, 240);
}
@media (max-width:500px) {
    .form{
        width: 70%;
    }
    .input{
        width: 80%;
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.left
{
    width: 50%;
}
.left h3{
    font-size: 30px;
}
.left span{
    color: #000;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.right h4{
    margin-right: 10px;
    gap: 1px;
}
.about-us{
    height: 500px;
    width: 100%;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.about-image {
    flex: 1;
    margin-right: 20px;
}
.about-text {
    flex: 2;
}
.about-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-text p {
    font-size: 16px;
    line-height: 1.6;
}